# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.BuildNDestroy.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Program Files\UnityProjects\BuildNDestroy\.idea\.idea.BuildNDestroy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
